[workspace]
authors = ["Anthony Tong <atong28.usa@gmail.com>"]
channels = ["conda-forge"]
name = "MARINABackend"
platforms = ["osx-arm64", "linux-64", "linux-aarch64"]
version = "2.0.0"

[tasks]
start = { cmd = "uvicorn src.api.app:app --host 0.0.0.0 --port 5000" }
dev = { cmd = "uvicorn src.api.app:app --host 0.0.0.0 --port 8002 --reload", env = { KMP_DUPLICATE_LIB_OK = "TRUE", LD_LIBRARY_PATH = "$PIXI_PROJECT_ROOT/.pixi/envs/default/lib:$LD_LIBRARY_PATH" } }
test = "pytest"

[dependencies]
python = ">=3.11,<3.12"
numpy = ">=2.3.3,<3"
pandas = ">=2.3.2,<3"
rdkit = ">=2025.3.6,<2026"
fastapi = ">=0.121.0,<0.122"
uvicorn = ">=0.24.0"
slowapi = ">=0.1.9,<0.2"
plotly = ">=6.3.0,<7"
pillow = ">=10.0.0"
python-lmdb = ">=1.7.5,<2"
requests = ">=2.32.5,<3"
tqdm = ">=4.67.1,<5"
pytest = ">=8.4.2,<9"
tyro = ">=1.0.5,<2"

[pypi-dependencies]
torch = { version = "==2.7.1", index = "https://download.pytorch.org/whl/cpu" }
torchvision = { version = "==0.22.1", index = "https://download.pytorch.org/whl/cpu" }
lightning = { version = "==2.5.5" }
